In [1]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('train.csv', sep=',', header=None)
print(data.shape)
data.head()

(6000, 130)

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
0,ID_00000000,6147.6445,1.287082,1.309475,1.763690,3.267232,-1.135878,-1.541321,-2.513292,4543.1680,...,-3.234724,6209.9881,5.561583,1.589754,2.431748,2.835400,-1.443926,-2.258043,-3.129247,2
1,ID_00000001,883.8496,2.523001,0.186115,0.394962,2.387027,-0.082903,-0.330683,-2.731302,60876.4629,...,-8.814603,11525.3111,3.443605,2.403361,4.349723,6.591782,-2.081989,-3.238632,-7.368825,5
2,ID_00000002,11735.5126,4.209876,4.000793,7.471036,9.348427,-3.968175,-5.130933,-16.353924,25894.0371,...,-13.617445,19056.1772,7.484289,9.028648,16.302558,19.527094,-3.821101,-6.827013,-11.194883,3
3,ID_00000003,5828.2539,1.236785,1.638415,2.281931,3.639547,-1.247796,-1.652973,-2.837284,5353.3750,...,-4.299888,7899.9952,7.068495,2.391782,3.918861,4.291086,-1.895875,-2.988525,-3.455212,2
4,ID_00000004,5562.7482,2.634592,1.162989,1.721184,4.260408,-0.869663,-1.435076,-5.948257,6642.7947,...,-15.074300,16974.5445,5.724838,8.089948,22.621003,27.819908,-4.038110,-6.388420,-12.422351,2

In [3]:
feature_list = []
for i in range(1,129):
    feature_list.append(i)
X = data[feature_list]
X.tail()

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
5995,33240.6806,3.244596,5.689742,7.345384,11.473487,-4.433449,-6.195947,-24.071687,43484.0332,3.173246,...,-1.498201,-5.749289,5358.0152,2.754579,1.369644,2.822194,5.365149,-0.849967,-1.443351,-4.934564
5996,632106.9883,11.961672,153.616441,205.654735,240.781636,-119.645776,-166.982639,-473.199955,481904.3086,8.457805,...,-23.965351,-25.529379,41731.6128,14.457247,10.517728,13.323939,13.891649,-12.399607,-19.730149,-21.092081
5997,138381.8555,6.528529,34.616038,50.938689,74.810291,-23.812481,-36.200565,-156.786404,127390.0605,5.730071,...,-15.005358,-30.731669,34287.6181,5.311368,9.527573,17.386551,20.938546,-7.886004,-12.317408,-25.521667
5998,16740.9790,3.431134,7.914179,14.567284,20.857299,-2.823678,-4.247351,-12.964002,13523.3149,3.040231,...,-2.789445,-6.911533,7228.5054,2.642002,6.287191,18.952152,24.499898,-1.583521,-2.483749,-5.846965
5999,122231.6352,44.633375,39.589853,62.466381,67.228882,-27.824367,-38.222809,-86.511053,105086.3442,38.591678,...,-24.587723,-39.146876,47996.2876,13.833066,18.530895,38.311284,44.228306,-12.337154,-20.281391,-34.078516

In [4]:
label = 129
Y = data[label]
Y.tail()

5995    5
5996    5
5997    5
5998    1
5999    1
Name: 129, dtype: int64

In [5]:
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)
X_scaled.shape

(6000, 128)

In [11]:
clf = RandomForestClassifier(n_estimators=200, oob_score=True, random_state=10)
#clf = AdaBoostClassifier(n_estimators=1000)
clf.fit(X, Y)
clf.score(X, Y)

1.0

In [12]:
p_data = pd.read_csv('test_raw.csv', sep=',', header=None)
print(p_data.shape)
p_data.head()

(7910, 129)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,ID_00006000,74897.6445,18.206801,22.789294,34.341639,37.532959,-16.290403,-22.163117,-40.523670,65475.8178,...,-14.113957,-22.768045,31024.7505,7.568067,12.592231,29.263535,34.172013,-7.588355,-12.041354,-17.475207
1,ID_00006001,17669.6856,1.744832,5.019631,8.387832,9.464851,-3.668149,-4.255772,-7.807742,18884.9863,...,-25.117983,-27.406825,34486.1325,24.834775,10.274289,20.149653,22.210877,-10.336164,-17.484251,-21.743960
2,ID_00006002,213019.7188,6.386850,55.677606,87.437375,351.072518,-36.878257,-111.062800,-1039.119816,224102.2227,...,-52.231487,-179.340294,64006.0522,12.535686,21.946833,39.451940,51.830501,-21.888252,-40.884865,-127.489235
3,ID_00006003,86236.8555,4.565494,22.744503,33.869774,63.416524,-17.916672,-28.896840,-184.784509,61155.0801,...,-11.455901,-27.481372,18874.3245,6.775546,6.363635,12.589641,17.570199,-5.810056,-10.951881,-27.603733
4,ID_00006004,39670.0479,10.143957,9.439297,12.227546,14.742546,-5.767786,-7.430916,-18.767140,42333.1074,...,-3.988452,-7.925534,10737.0754,4.373713,3.388268,6.578650,9.918340,-2.369473,-3.721577,-7.360329

In [13]:
p_X = p_data[feature_list]
min_max_scaler = preprocessing.MinMaxScaler()
p_X_scaled = min_max_scaler.fit_transform(p_X)
p_X_scaled.shape

(7910, 128)

In [14]:
p_Y = clf.predict(p_X)

In [15]:
ID = p_data[0]
print(ID)

0       ID_00006000
1       ID_00006001
2       ID_00006002
3       ID_00006003
4       ID_00006004
5       ID_00006005
6       ID_00006006
7       ID_00006007
8       ID_00006008
9       ID_00006009
10      ID_00006010
11      ID_00006011
12      ID_00006012
13      ID_00006013
14      ID_00006014
15      ID_00006015
16      ID_00006016
17      ID_00006017
18      ID_00006018
19      ID_00006019
20      ID_00006020
21      ID_00006021
22      ID_00006022
23      ID_00006023
24      ID_00006024
25      ID_00006025
26      ID_00006026
27      ID_00006027
28      ID_00006028
29      ID_00006029
           ...
7880    ID_00013880
7881    ID_00013881
7882    ID_00013882
7883    ID_00013883
7884    ID_00013884
7885    ID_00013885
7886    ID_00013886
7887    ID_00013887
7888    ID_00013888
7889    ID_00013889
7890    ID_00013890
7891    ID_00013891
7892    ID_00013892
7893    ID_00013893
7894    ID_00013894
7895    ID_00013895
7896    ID_00013896
7897    ID_00013897
7898    ID_00013898
7899    ID_00013899
7900    ID_00013900
7901    ID_00013901
7902    ID_00013902
7903    ID_00013903
7904    ID_00013904
7905    ID_00013905
7906    ID_00013906
7907    ID_00013907
7908    ID_00013908
7909    ID_00013909
Name: 0, Length: 7910, dtype: object

In [16]:
import csv
with open("submission03.csv","w") as csvfile: 
    writer = csv.writer(csvfile, lineterminator='\n')
    writer.writerow(["ID","Pred"])
    for i in range(0,7910):
        writer.writerow([ID[i], ''.join(['cls_', str(p_Y[i])])])